# Virtual Environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.DS_Store

# Heavy Downloaded Neural Weights (ECAPA-TDNN)
pretrained_models/
*.pt
*.ckpt

# Personal Voice & Evidence Data
distress_evidence/
profiles/*.npy
profiles/*.json
!profiles/.gitkeep

# Sensitive Settings (Protects your Telegram Bot Token)
settings.json
